body {
  font-family: "Poppins", sans-serif;
  background-color: $light_color;
  color: $font_color;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}

.card {
  background-color: #fff;
  padding: 20px;
}
