@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
.container {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.align-itens-center {
  align-items: center;
}
