$brand_one: #896efb;

$font_color: #848484;
$light_color: #f2f2f2;

$colors: (
  "brand_one": $brand_one,
  "light": $light_color,
  "white": white,
);

$font_family: "Montserrat", sans-serif;

$sm: 728px;
$md: 1024px;
$lg: 1200px;
